.modal {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    border: none;
    background-color: transparent;
    margin: 1rem;
    cursor: pointer;
    &--close {
      color: red;
      font-size: 1.5rem;
      transform: translateY(-1rem);
      margin: 0;
    }
  }
}